item{
	position: relative;
	width:20%;
	display:inline-block;
	padding:2%;
	min-width:100px;
}

item img{
	width:100%;
}

item .item-title, item .item-price{
	text-align: center;
	padding: 1%;
}

item .item-price{
	color: #8e8e8e;
	padding: 1%;
}

div.item{
	position: relative;
	width:20%;
	display:inline-block;
	padding:2%;
	min-width:100px;

}

div.item img{
	width:100%;
}

div.item .item-title, div.item .item-price{
	text-align: center;
	padding: 1%;
}

div.item .item-price{
	color: #8e8e8e;
	padding: 1%;
}

div.item p{
	text-align: center;
}

#addtomycart *{
	margin:auto;
	display: block;
}

/*For the browse.php page*/
ul.search li{
	display: inline-block;
}

#searchoptionslink{
	margin-left:40px;
	text-decoration: underline;
}

#searchoptionslink:hover{
	color: blue;
	text-decoration: bold;
}

div.searchoptions{
	display:none; 
	width:30%; 
	min-width: 200px; 
	background:white; 
	float:left;
}

td.searchtitle{
	font-size:15px;
	font-weight: bold
}

.checkout_table{
	margin:auto;
}

.checkout_table td{
	text-transform: uppercase;
}

.checkout_summary{
	margin: auto;
}

.checkout_summary td{
	padding: 10px;
	/*font-size: 15px;*/
	text-align: center;
	text-transform: uppercase;	
}

h2{
	text-align: center;
}