<!DOCTYPE html>
<html lang="en">
<!-- Base for Dashboard -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Registration CSS -->
    <link href="../../static/css/register/register.css" rel="stylesheet" type="text/css">


    <!-- Common CSS -->
        <!-- Core CSS -->
        <link href="../../static/css/core/core.css" rel="stylesheet" type="text/css">
        
        <!-- Template CSS -->
        <link href="../../static/css/core/template.css" rel="stylesheet" type="text/css">

        <!-- Custom Fonts -->
        <link href="../../static/css/core/customfonts.css" rel="stylesheet" type="text/css">

        <!--jQuery libraries-->
        <script src="../../static/js/core/jquery-1.11.3.min.js"></script>
</head>

<body>

<mainContent>

    <center>
        <h1>Registration Page</h1>
        <form action="register.php" method=POST>

        <h2>Personal Particulars</h2>
        <label for="firstname">First Name: </label><br />
        <input type=text name=firstname><br /><br />
        <label for="lastname">Last Name: </label><br />
        <input type=text name=lastname><br /><br />
        <label for="phone">Phone: </label><br />
        <input type=text name=phone><br /><br />
        <label for="email">Email: </label><br />
        <input type=text name=email><br /><br />
        <label for="address">Address: </label><br />
        <input type=text name=address><br /><br />
        <label for="paymentinfo">Payment Info: </label><br />
        <input type=text name=paymentinfo><br /><br />

        <h2>Account Details</h2>
        <label for="username">Username: </label>
        <input type=text name=username><br /><br />
        <label for="password">Password: </label>
        <input type=password name=password><br /><br />
        <label for="password2">Confirm Password: </label>
        <input type=password name=password2><br /><br />

        <button class="button buttonBlack" type="submit">SUBMIT</button>
        <button class="button buttonBlack" type="reset">RESET</button>
        </form>
    </center>

</mainContent>

</body>

<!--Button toggling Javascript-->
    <script src="../../static/js/generateContent/baseContent.js"></script>
    <script src="../../static/js/generateContent/inDivTabs.js"></script>
    <script src="../../static/js/core/modal.js"></script>
</html>